<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="SongContext" providerName="System.Data.SqlClient"  connectionString="Data Source=.\SQLEXPRESS;Database=TestMigrations;Integrated Security=True; MultipleActiveResultSets=True;" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="EFMigrationTests.SongContext, EFMigrationTests">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[EFMigrationTests.SongContext, EFMigrationTests], [EFMigrationTests.Migrations.MigrationConfiguration, EFMigrationTests]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
</configuration>